body {
    background-color: #FFFBE6;
    font-family: 'Josefin Sans', sans-serif;
    display: flexbox
}
header {
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
  }

  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }

  li a:hover {
        color: #FD5523;
  }

h1 {
    color: #FD5523;
  
}

h2 {
    color: #356859;
   
}

p {
    color: #356859;
    
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} */

#preferredWidth, #preferredHeight, #preferredLength {
    flex-direction: row;
    flex-basis: 100%;
}

#break {
    flex-basis: 100%;
    height: 0;
}

/* #clayShrinkRateForm {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 5;
} */


#calculateShrinkRate {
    color: #FFFBE6;
    background-color: #356859;
    font-size: larger;
    border-color: #356859;
    flex-direction: row;
}


#result {
    
}

footer {

}