body {
    background-color: #FFFBE6;
    font-family: 'Josefin Sans', sans-serif;
    grid-template: ;
}

h1 {
    color: #FD5523;
}

h2 {
    color: #356859;
}

p {
    color: #356859;
}

li {
    color: #356859;
}

.calculator {
    background-color: #b9e4c95e;
}